@use 'foundation' as *;

.c-sub-title {
    padding-top: prem(150);
    padding-bottom: prem(100);
    background-color: #101010;
    background-repeat: no-repeat;
    background-size: cover;
    &.-red {
        background-image: linear-gradient(rgba(16,16,16,0), rgba(16,16,16,1)), linear-gradient(-45deg, #101010, rgba(150,20,5,1), #101010, #101010, rgba(150,20,5,1));
    }
    &.-blue {
        background-image: linear-gradient(rgba(16,16,16,0), rgba(16,16,16,1)), linear-gradient(-45deg, #101010, #aaa596, #101010, rgba(10,55,100,1), rgba(10,55,100,1));
    }
}