@use 'foundation' as *;

.c-title {
  font-size: prem(85);
  font-family: $font-family-accent;
  font-style: italic;
  font-weight: $medium;
  line-height: 1;
  @include mq(md) {
    text-align: left;
    font-size: prem(210);
  }

  &.-white {
    color: $color-white;
  }

  &.-black {
    color: $color-black;
  }

  &.-md {
    font-size: prem(65);
    @include mq(md) {
      font-size: prem(130);
    }
  }
}