@use 'foundation' as *;

.p-form-checkbox label {
    display: block;
    @include mq(md){
        display: inline-block;
    }
}

.p-form-checkbox label:not(:first-of-type) {
    margin-top: prem(10);
    @include mq(md){
        margin-top: 0;
        margin-left: prem(20);
    }
}

.p-form-checkbox input {
    display: none;
}

.p-form-checkbox input + span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 prem(25);
    position: relative;
    font-size: prem(15);
    line-height: 1;
}

.p-form-checkbox input + span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid #ccc;
    display: block;
    width: prem(15);
    height: prem(15);
}

.p-form-checkbox input + span::after {
    content: "";
    margin-top: prem(-2);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
    display: block;
    width: prem(15);
    height: prem(8);
    border-bottom: prem(3) solid #000;
    border-left: prem(3) solid #000;
    transition:  .3s;
    opacity: 0;
}

.p-form-checkbox input:checked + span::after {
    opacity: 1;
}