@use 'foundation' as *;

.p-form-textarea textarea {
    padding:prem(25);
    width: 100%;
    min-height: prem(200);
    font-size: prem(16);
    border-radius: 0;
    border: 1px solid #ccc;
    appearance: none;
    background-color: transparent;
    background-image: none;
    line-height: 1.8;
    &::placeholder {
        font-size: prem(16);
        color: #ccc;
    }
}

.p-form-textarea textarea:focus {
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
}