@use 'foundation' as *;

.p-sub-contact {
    margin-top: prem(100);
    margin-bottom: prem(100);
}

.p-sub-contact__message {
    padding:prem(25);
    border: prem(1) solid #808080;
    @include mq(md) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-size: prem(16);
        line-height: 1.8;
        span {
            font-size: prem(14);
            font-style: italic;
            color: #808080;
            small {
                color: red;
            }
        }
    }
}

.p-sub-contact__form {
    margin-top: prem(80);
    @include mq(md) {
        width:60%;
        margin-left: auto;
        margin-right: auto;
    }
}